 <div class="navbar navbar-default navbar-static-top container" role="navigation">
      <div class="navbar-header">
           <a class="navbar-brand" href="https://isha.sadhguru.org/">      
             <img height="40px" width="40px" alt="Isha" src="img/icon/Isha_logo-2x.png"></img> 
           </a>  
          <div class="navbar-float">Isha Events</div>
      </div>
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <div class="col-sm-3 col-md-3 pull-right">
        <form class="navbar-form" role="search">
          <div class="input-group">
            <input type="text" class="form-control"
              placeholder="Search by zipcode..."
              name="srchzip" id="srchzip"
              ng-model="events.search.evtZip"/>
            <div class="input-group-btn">
                <button  class="btn btn-success" type="button">
                  <i class="glyphicon glyphicon-search"></i>
                </button>
            </div>
          </div>
        </form>
        </div>
      </div>
    </div>

    <!-- BEGIN : /container -->
    <div id="container" class="container">
      <div id="event_list" class="row placeholders">
            <div ng-show="filtered.length === 0"> No Events</div>
            <div style="height:auto !important; margin-bottom: 0px !important;"
                class="panel panel-default col-sm-6"
                ng-repeat="e in events.events | filter: events.search as filtered track by $index">
                  <div class="row-center">
                     <h4>{{e.evtname}}</h4>
                  </div>
                  <div class="col-sm-4">
                     <img class="img-thumbnail" src="img/icon/specialevent.jpg">
                  </div>
                  <div class="col-sm-8">
                    <div class="row">
                         <span>
                            Date: <em class="hov_date ">{{e.evtStDate | dateFormater | date : 'dd MMM yyyy'}}</em>
                         </span><br/>
                         <span class="hov_location">
                            Location: {{e.evtCity +', '+ e.evtState}}
                         </span> <br/>
                         <span>Type: {{e.evtType}}, {{e.evtCat}}</span> <br/>
                         <span>Hosted by: {{e.evtHost}}</span> <br/>
                         <span>Desc: {{e.evtDesc}}</span> 
                    </div>
                  </div>
                  <ul class="nav nav-pills pull-right">                      
                         <li role="presentation" class="active" style="padding-bottom: 15px;padding-bottom: 15px;">             
                             <a ui-sref="event" class="btn btn-primary" role="button">More »</a>
                         </li>                                                                   
                  </ul>   
            </div>
            </div>
      </div>
    </div> 
    <!-- END : /container -->
